body { 
     width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
       font-family: "Lobster", sans-serif;
        font-weight: bold;
        color:white
} 

a {
    color: rgb(168, 161, 161);
    text-decoration: none;
}

a:active {
    color: red;
}
img {
    position:absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.restart {
    position:fixed;
    z-index: 1;
    width: 125px;
    height: 125px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cent {
    top: 80%;
    left: 50%;
     position: absolute;
      transform: translate(-50%, -50%);
}

.righted {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 1;
}

.lefted {
    position: absolute;
    top: 50%;
    left: 75%;
    z-index: 2;
}
/*spakar*/
.spakar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 2;
}

.spakar img {
    position: relative;
    width: 180px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    z-index: 2;
}

#vidare {
    display: none;
    text-align: center;
  position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-rendering: 80px;
    border-radius: 10px;
    z-index: 3;
}

