body { 
     width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
       font-family: "Lobster", sans-serif;
        font-weight: bold;
        color:white
} 

a {
    color: rgb(255, 239, 174);
    text-shadow: 0px 2px rgb(0, 0, 0), 0px -2px rgb(0, 0, 0), 2px 0px rgb(0, 0, 0), -2px 0px rgb(0, 0, 0);
    text-decoration: none;
}

a:active {
    color: red;
}
img {
    position:absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.restart {
    position:fixed;
    z-index: 1;
    width: 125px;
    height: 125px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cent {
    top: 80%;
    left: 50%;
     position: absolute;
      transform: translate(-50%, -50%);
}

.righted {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 1;
}

.lefted {
    position: absolute;
    top: 50%;
    left: 75%;
    z-index: 2;
}

.left {
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 2;
}
/*spakar*/
.spakar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 2;
}

.spakar img {
    position: relative;
    width: 180px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    z-index: 2;
}

#vidare {
    display: none;
    text-align: center;
  position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 8, 6, 0.8);
    border: 2px solid rgb(182, 170, 123);
    color: white;
    padding: 20px;
    text-rendering: 80px;
    border-radius: 1px;
    z-index: 3;
}

#choices {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
      margin: 0 0%;

    
}

.knapp {
    
    margin: 0 7%;
    color: rgb(255, 239, 174);
        text-shadow: 0px 2px rgb(0, 0, 0), 0px -2px rgb(0, 0, 0), 2px 0px rgb(0, 0, 0), -2px 0px rgb(0, 0, 0);
        font-size: 18px;
    background-color: rgb(10, 11, 11);
    border-color: rgb(182, 170, 123);;
}

.speltitel {
    font-family: "Press Start 2P", monospace;
    color: red;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 5px 5px 0px black;
    white-space: nowrap;
}

.pratbubbla {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 8, 6, 0.8);
    border: 2px solid rgb(182, 170, 123);
    color: white;
    padding: 20px;
    text-rendering: 80px;
    border-radius: 1px;
    z-index: 3;
}

.vansterake {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    
}

.centeredake {
    position: absolute;
    top: 45%;
    left: 60%;
    
}

.centeredright {
    position: absolute;
    top: 50%;
    left: 55%;
}

.knapptext {
    border: none;
    background: none;
    color: rgb(255, 239, 174);
    text-shadow: 0px 2px rgb(0, 0, 0), 0px -2px rgb(0, 0, 0), 2px 0px rgb(0, 0, 0), -2px 0px rgb(0, 0, 0);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

#text {
    width: 50%;
    background-color: rgba(10, 8, 6, 0.8);
    border: 2px solid rgb(182, 170, 123);
    color: white;
    padding: 20px;
}

.credits { text-align: center; position: absolute; width: 100%; animation-name: rulla; animation-duration: 40s; animation-timing-function: linear; animation-iteration-count: 1; } @keyframes rulla { from { top: 100%; } to { top: -100%; } }

#text2 {
    width: 50%;
    background-color: rgba(10, 8, 6, 0.8);
    border: 2px solid rgb(182, 170, 123);
    color: white;
    padding: 20px;
}

#text3 {
    width: 50%;
    background-color: rgba(10, 8, 6, 0.8);
    border: 2px solid rgb(182, 170, 123);
    color: white;
    padding: 20px;
}

.bildadjust {
    height: 127%;
    width: 100%;
    
}

/* Tangentbord */
.text-area {
    margin-top: 29.5%;
    margin-left: 35%;
	padding: 5px;
	width: 11%;
	height: 10%;
}

.keyboard {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	background: #d6d6d6;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	transition: bottom 0.4s;
}

.keyboard--hidden {
	bottom: -100%;
}

.keyboard__keys {
	text-align: center;
}

.keyboard__key {
	height: 45px;
	width: 6%;
	max-width: 90px;
	margin: 3px;
	border-radius: 4px;
	border: none;
	background: rgba(105, 105, 105, 0.2);
	color: black;
	font-size: 1.05rem;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

.keyboard__key:active {
	background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
	width: 12%;
}

.keyboard__key--extra--wide {
	width: 36%;
	max-width: 500px;
}

.keyboard__key--activatable::after {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	width: 8px;
	height: 8px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.keyboard__key--active::after {
	background: #08ff00;
}

.keyboard__key--dark {
	background: rgba(0, 0, 0, 0.25);
}

#result {
    margin-top: -5%;
    margin-left: 55%;
    width: 10%;
    height: 10%;
    color: red;
    text-shadow: 0px 2px rgb(0, 0, 0), 0px -2px rgb(0, 0, 0), 2px 0px rgb(0, 0, 0), -2px 0px rgb(0, 0, 0);
}

.cover-link {
    margin: 0;
            padding: 0;
            
            position: fixed;
            
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
}